*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/java/com/imeepwni/geoquiz/modelview/
src/main/java/com/imeepwni/geoquiz/modle/
src/main/res/drawable/
